.audio-controler{
    position: absolute;
    
    right: -900%;
}
.audio-controler audio::-webkit-media-controls-panel{
    background-color: white;
}

@media screen and (min-width:800px) {
    .audio-controler{
        right: -1200%;
    }
}